.nav-color {
    background: linear-gradient(112.1deg, rgb(5, 6, 8) 11.4%, rgb(34, 39, 59) 70.2%);
    padding: 10px 0px;
}

.nav-logo {
    width: 70px;
}

.logo-name {
    background: linear-gradient(248.6deg, rgb(254, 99, 132) 0%, rgb(49, 52, 56) 99.8%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hireme-btn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px 25px;
    padding: 15px 30px;
    border: 0;
    background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
}

.hireme-btn:hover {
    background: linear-gradient(90.2deg, rgba(190, 70, 102, 0.93) -15.6%, rgb(252, 154, 154) -15.6%, rgba(190, 70, 102, 0.92) 17.9%, rgb(58, 13, 48) 81.6%);
}

.nav-custom {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 20px;
    font-family: robot;

}